body {
    background: #0056b3;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    text-align: left;
}

h1 {
    text-align: center;
}

form {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
    text-align: left;
}

label, input {
    display: block;
    margin-bottom: 10px;
    text-align: left;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    text-align: left;
}

button:hover {
    background-color: #0056b3;
}
